<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.nfc.readersession.iso7816.select-identifiers</key>
	<array>
		<string>A0000002471001</string>
	</array>
	<key>NSLocalNetworkUsageDescription</key>
	<string>This app uses the local network to discover nearby devices for ID verification via Multipeer Connectivity.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_pseudo-id-vrfy._tcp</string>
		<string>_pseudo-id-vrfy._udp</string>
	</array>
</dict>
</plist>
